.register-container {
    text-align: center;
    height: 100%;
    line-height: 30px;
    vertical-align: middle;
}

.register-btn {
    margin-top: 20px;
}

input > .register-container {
    margin: 0px 20px;
}

.register-btn {
    display: block;
    text-align: center;
    margin: auto;
}